<%
yougo_map = RedmineYougoshu::Yougoshu.map

yougo_url = yougo_map[:url]

yougo = []
yougo += yougo_map[:default].split(',') if yougo_map[:default]
if yougo_map[controller_name.to_sym]
  yougo += yougo_map[controller_name.to_sym][:default].split(',') if yougo_map[controller_name.to_sym][:default]
  yougo += yougo_map[controller_name.to_sym][action_name.to_sym].split(',') if  yougo_map[controller_name.to_sym][action_name.to_sym]
end

# 重複を削除
yougo = yougo.sort.uniq
%>

<ul>
  <li><%= link_to(l(:label_redmine_yougoshu), yougo_map[:url]) %></li>
  <ul>
    <% yougo.each do |name| %>
      <li>
        <%= link_to(l("label_redmine_yougoshu_#{name.gsub('-', '_')}"), "#{yougo_url}#{name[0]}/#{name}", :target => :blank) %>
      </li>
    <% end %>
  </ul>
</ul>
